* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(11, 43, 255);
}

#app {
    width: 90%;
    padding: 30px;
    max-width: 600px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 100px auto 0;
}

#app h1 {
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    border-bottom: 1px solid #333;
    color: #001e4d;
    margin-bottom: 30px;
    padding-bottom: .9em;
}


.quzi {
    padding: 20px 0;

}

.quzi h2 {
    font-size: 2em;
    font-weight: 300;
    color: #001e4d;
    padding-bottom: 2rem;

}


.quzi .btn {
    width: 100%;
    font-weight: 500;
    margin: 0.5em;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #222;
    text-align: left;
    transition: all 0.5s ease;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;

}

#next-btn {
    margin: 0 auto;
    width: 150px;
    background-color: #001e4d;
    color: #fff;
    border-radius: 10px;
    margin: 20px auto 0;
    padding: 0.6em;
    cursor: pointer;
    display: none;
    align-items: center;
}

#next-btn:hover {
    background-color: brown;
}

.correct {
    background-color: #9a9a9a;
}

.incorrect {
    background-color: #235bb4;
}